<p style="color: green"><%= notice %></p>

<% content_for :title, "General accounts" %>

<h1>General accounts</h1>

<div id="general_accounts">
  <% @general_accounts.each do |general_account| %>
    <%= render general_account %>
    <p>
      <%= link_to "Show this general account", general_account %>
    </p>
  <% end %>
</div>

<%= link_to "New general account", new_general_account_path %>
