<% content_for :title, "New general account" %>

<h1>New general account</h1>

<%= render "form", general_account: @general_account %>

<br>

<div>
  <%= link_to "Back to general accounts", general_accounts_path %>
</div>
