<div id="<%= dom_id general_income %>">
  <p>
    <strong>Title:</strong>
    <%= general_income.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= general_income.amount %>
  </p>

  <p>
    <strong>General account:</strong>
    <%= general_income.general_account_id %>
  </p>

</div>
