<div class="d-flex justify-content-center mt-3">
  <%= button_to new_general_income_path, method: :get, class: "btn btn-outline-success btn-sm", form_class: "d-inline" do %>
    New General Income
  <% end %>
</div>

<%= render 'show_incomes_table' %>

