<% content_for :title, "New general income" %>

<h1>New general income</h1>

<%= render "form", general_income: @general_income %>

<br>

<div>
  <%= link_to "Back to general incomes", general_incomes_path %>
</div>
