<% if @transactions.any? %>
  <%= render 'all_transactions' %>
<% else %>
  <div class="d-flex justify-content-center my-4">
    <div class="alert alert-warning text-center" role="alert">
      No transactions added yet.
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <%= button_to new_transaction_path, method: :get, class: "btn btn-outline-primary btn-sm", form_class: "d-inline" do %>
    Create Transaction
  <% end %>
</div>
<% end %>


