<%= render 'accounts/accnav' %>

<div class="d-flex justify-content-center my-4">
  <div class="w-50">
    <%= render "form", transaction: @transaction %>
  </div>
</div>

<%= render 'all_transactions' %>
