<div id="<%= dom_id general_expense %>">
  <p>
    <strong>Title:</strong>
    <%= general_expense.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= general_expense.amount %>€
  </p>

</div>
