<p style="color: green"><%= notice %></p>

<% content_for :title, "General expenses" %>

<h1>General expenses</h1>

<div id="general_expenses">
  <% @general_expenses.each do |general_expense| %>
    <%= render general_expense %>
    <p>
      <%= link_to "Show this general expense", general_expense %>
    </p>
  <% end %>
</div>

<%= link_to "New general expense", new_general_expense_path %>
