<div id="<%= dom_id account %>">
  <p>
    <strong>Title:</strong>
    <%= account.title %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>€
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= account.percentage %>%
  </p>

</div>
